/*GENERAL*/

body {
  background-color: #FFFFFF;
}

.buttonHolder {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

input{
  background-color: #B8E0F4;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  margin-left: 780px;
  margin-right: 800px;
}

.initially-hidden{
  display: none;
  background-color:
}

#table th {
    text-align: center;
}

#table td {
    text-align: center;
}

#table {
  /*make centered */
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    float: none;
    margin-right: -50%;
    margin-top: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#inst {
  font-size: 2.5em;
  text-align: center;
  color: #000000;
  line-height: 2em;
  margin: 0;
}

#tenant {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
   } 


